{% load static %}

<form action="{% url 'buy' %}" method="post">
{% csrf_token %}
{{request_place}}
{{an_exception}}
<h2>Всего: {{fenster_list.count}}</h2>
{% for afenster in fenster_list %}
    <table border="6">
        <tr height="50px">
            <td colspan="2">
                Ширина:{{afenster.fenster_width}}<br />
                Высота:{{afenster.fenster_height}}<br />
                Схема:{{afenster.fenster_scheme}}<br />
                <input
                    type="radio"
                    name="selected_fenster"
                    id="fenster{{afenster.id}}"
                    value={{afenster.id}}
                    checked="checked"
                    />
                <label for=fenster{{afenster.id}}>
                    fenster №{{afenster.id}}
                </label>
                <img
                    src="{% static 'fenster/pano/city.jpg'%}"
                    alt="city"
                    style="width:100px"
                />
            </td>
        </tr>
        <tr height="{{window_height}}px">
            <td width="50px">
                &nbsp;
            </td>
            <td width="50px">
                &nbsp;
            </td>
        </tr>
    </table>
{% endfor %}
<input type="submit" value="Buy">
</form>
